### App
VITE_APP_NAME=Vuena
VITE_APP_ID=io.aybinv.vuena
VITE_APP_VERSION=1.0.0

### Dev (Capacitor Live Reload)
VITE_LIVE_RELOAD=true
VITE_LIVE_RELOAD_SCHEME=http
VITE_LIVE_RELOAD_HOST=localhost
VITE_LIVE_RELOAD_PORT=5173

### Database client Configuration (powersync sdk sqlite)
VITE_DB_FILENAME=vuena.db
VITE_DB_LOG_LEVEL=DEBUG

### Database server Configuration (supabase)
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key

### Sync Mecanism Configuration (powersync)
VITE_POWERSYNC_URL=https://your-instance.powersync.journeyapps.com
#(FOR DEV CONSOLE)
VITE_POWERSYNC_DEBUG=false
VITE_POWERSYNC_TOKEN_DASHBOARD=your-token-dashboard


# Trapeze (used only by flavor env files not in .env or .env.local)
VERSION_CODE=1
BUILD_NUMBER=1
ANDROID_DEBUGGABLE=false
